<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="author" content="Błażej Bazan">
</head>
<body>
    <div>
            <h1><a href="/">Blog</a></h1>
        </div>

        <div>
            <p>published: 25.01.2021, 19:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate neque sit amet lacus auctor scelerisque. Praesent ornare at nisl a gravida. Suspendisse eu ultrices est. Proin laoreet fringilla dignissim. In hac habitasse platea dictumst. Morbi ac semper erat, vel sodales libero.</p>
        </div>

        <div>
            <p>published: 15.01.2021, 17:56</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate neque sit amet lacus auctor scelerisque. Praesent ornare at nisl a gravida. Suspendisse eu ultrices est. Proin laoreet fringilla dignissim. In hac habitasse platea dictumst. Morbi ac semper erat, vel sodales libero.</p>
        </div>
</body>
</html>